@font-face {
  font-family: Poppins;
  src: url("./resources/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./resources/font/Poppins-Bold.ttf");
}

@media only screen and (min-width: 375px) {
  body {
    font-family: Poppins, sana-serif;
    font-style: normal;
    margin: 0;
  } 
}
html {
  background: #fff;
}
.article {
  background-image: url("./resources/images/header-shapes\ mobilebackground-Main.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
}
.article-item1 {
  margin: 15%;
}
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  background: #fff;
}
.manu {
  float: right;
  padding-left: 60%;
  padding-top: 2%;
}
.headline-container {
  height: 60vh;
  width: 100vw;
}
.social-links {
  display: flex;
  list-style: none;
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 8px;
  justify-content: left;
}
.social-title {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}