@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5a3;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

strong {
  color: #6070ff;
}

.fa-sr-only {
  font-size: 0.55rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey;
}

::-webkit-scrollbar-thumb {
  background: #6070ff;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c32ff;
}

.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in-1 {
  animation: drop-in 1200ms ease 500ms backwards;
}

.drop-in-2 {
  animation: drop-in 1500ms ease 800ms backwards;
}

.drop-in-3 {
  animation: drop-in 2s ease 1200ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.fly-in-1 {
  animation: fly-in 1s ease 200ms backwards;
}

.fly-in-2 {
  animation: fly-in 1200ms ease 500ms backwards;
}

.fly-in-3 {
  animation: fly-in 1400ms ease 800ms backwards;
}

.fly-in-4 {
  animation: fly-in 1600ms ease 1100ms backwards;
}

.fly-in-5 {
  animation: fly-in 1800ms ease 1400ms backwards;
}

.fly-in-6 {
  animation: fly-in 2s ease 1700ms backwards;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

main {
  margin-top: 50px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  font-weight: 700;
  color: #6070ff;
  font-size: 1.125em;
  box-shadow: 0 12px 6px -6px lightgrey;
  position: relative;
}

.logo {
  text-decoration: none;
  color: #1c32ff;
  transition: all 0.4s ease;
}

.desc ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.social-icons {
  display: flex;
  list-style-type: none;
}

.nav-bar > ul {
  list-style-type: none;
  cursor: pointer;
  z-index: 1;
  align-items: center;
}

.headline {
  height: 91vh;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-bottom-left-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19);
  overflow: hidden;
  background-image:
    url('./images/headline/m_bg_01.svg'),
    url('./images/headline/m_bg_02.svg'),
    url('./images/headline/m_bg_03.svg'),
    url('./images/headline/m_bg_04.svg'),
    url('./images/headline/m_bg_05.svg'),
    url('./images/headline/m_bg_06.svg'),
    url('./images/headline/m_bg_07.svg'),
    url('./images/headline/m_bg_08.svg'),
    url('./images/headline/m_bg_09.svg'),
    url('./images/headline/m_bg_10.svg'),
    url('./images/headline/m_bg_11.svg'),
    url('./images/headline/m_bg_12.svg'),
    url('./images/headline/m_bg_13.svg');
  background-position:
    top 2% left,
    top 4% left,
    top 11% left 40%,
    top 10% left 42%,
    top 1% left 60%,
    top 6.5% right,
    top 13% right,
    top 36% right 18%,
    bottom 27% right 12%,
    bottom 24% right 14%,
    bottom 8% left 16%,
    bottom 5.5% right 32%,
    bottom 3% right 37%;
  background-repeat: no-repeat;
}

.headline-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  filter: drop-shadow(4px 4px 1px lightgrey);
  color: #172b4d;
  padding-bottom: 12px;
}

.supporting-text {
  font-size: 1rem;
  filter: drop-shadow(3px 3px 1px lightgrey);
  font-weight: 400;
  line-height: 1.3rem;
  color: #344563;
}

.connect {
  color: #1c32ff;
  font-size: 1rem;
  line-height: 1.3em;
  font-weight: 500;
  border: none;
  margin: 1rem 0 1.25rem 0;
  padding: 0.5rem 0;
  cursor: pointer;
  align-self: flex-start;
  background-color: transparent;
  background-color: #fff;
  transition: all 0.4s ease;
}

.connect:hover {
  text-decoration: underline;
  transform: scale(1.01);
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

.connect:active {
  background-color: white;
  color: #1c32ff;
}

.icons {
  color: #444;
  font-size: 20px;
}

.icons:hover {
  color: #fff;
}

.social-icons .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.social-icons .icon:hover {
  transition: all 0.4s ease-in;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 0.6rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.4s ease-in;
}

.tooltip:hover {
  transition: all 0.4s ease-in;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.2s ease-in;
}

.project-header span {
  color: #7a869a;
  text-transform: capitalize;
}

.project-footer span {
  width: 10vw;
  border: 1px solid #ebecf0;
  margin-bottom: 20px;
}

.desc h4 span {
  padding-right: 0 12px;
  color: #c1c7d0;
  text-transform: capitalize;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #007bb5;
  color: #fff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.mail:hover,
.mail:hover .tooltip,
.mail:hover .tooltip::before {
  background: #c71610;
  color: #fff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #333;
  color: #fff;
}

.wellfound:hover,
.wellfound:hover .tooltip,
.wellfound:hover .tooltip::before {
  background: #ea2c00;
  color: #fff;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.2s;
}

.recent-work {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  row-gap: 100px;
}

.card {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card:first-child {
  margin-top: 100px;
}

.card:last-child {
  margin-bottom: 100px;
}

.inner-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 4px rgb(159 158 158 / 6%);
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  transition: all 0.4s ease;
}

.inner-card:hover {
  cursor: text;
  border: 1px solid #6070ff82;
  transition: all 0.4s ease;
  transform: scale(1.012);
  background: white;
}

.card-img,
.inner-card img {
  width: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.desc h3 {
  color: #344563;
  font-size: 1.5rem;
  filter: drop-shadow(3px 3px 1px lightgrey);
}

.desc h4 {
  font-size: 0.7rem;
  padding: 0.7rem 0;
  color: #172b4d;
  text-transform: uppercase;
  font-weight: 500;
}

.desc span::before,
.project-header span::before {
  content: "•";
  margin: 0 8px;
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.desc p {
  font-size: 0.9rem;
  filter: drop-shadow(3px 3px 1px lightgrey);
  line-height: 1.3rem;
  font-weight: 400;
  color: #344563;
  padding-bottom: 16px;
}

.desc li {
  padding: 0.5rem;
  background: #ebebff;
  border-radius: 8px;
  font-size: 0.65em;
  line-height: 1em;
  font-weight: 500;
  color: #0516b1;
  letter-spacing: 0.03em;
  text-align: center;
  transition: all 0.2s ease-in;
}

.item-1-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #5b5959;
  font-weight: 400;
  font-size: 0.9rem;
  gap: 0.5rem;
  transition: all 0.4s ease-out;
  box-shadow: 0 3px 9px rgb(0 0 0 / 15%), 0 1px 0 rgb(159 158 158 / 6%);
}

.project-footer li {
  background-color: #ebebff;
  color: #0516b1;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
}

.desc li:hover,
.project-footer li:hover {
  transform: scale(1.05);
  color: #6070ff;
  transition: all 0.2s ease-in;
}

.item-1-list li:hover {
  cursor: text;
  transform: scale(1.01);
  transition: all 0.3s ease-out;
  letter-spacing: 1px;
  box-shadow: 4px 9px 15px rgb(0 0 0 / 10%), -8px -9px 20px rgb(181 172 172 / 14%);
}

.button,
.project-links a {
  padding: 0.5rem 1rem;
  border: 1px solid #485aff;
  background-color: transparent;
  border-radius: 8px;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  color: #1c32ff;
  font-weight: 500;
  line-height: 1.3em;
  align-self: flex-start;
  margin: 20px 0 0 0;
  gap: 0.5rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-style: inherit;
}

.button::after,
.project-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  border: none;
  border-radius: 7px;
}

.button::before,
.project-links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #6070ff;
  border: none;
  transition: all 0.3s;
  border-radius: 7px;
  z-index: -1;
}

.project-links a {
  margin: 0;
}

.button:hover,
.project-links a:hover {
  color: #fff;
  cursor: pointer;
  border: 1px solid #6070ff;
}

.button:hover::before,
.project-links a:hover::before {
  width: 100%;
}

.button:active {
  background-color: #2230d2;
  color: white;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.resume-btn {
  margin-top: 3rem;
}

.form-btn {
  align-self: center;
  background-color: #fff;
}

.form-btn:hover {
  background-color: #6070ff;
}

.about {
  padding: 124px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
}

.about-content {
  display: flex;
  flex-direction: column;
}

.skills {
  padding: 12px;
  font-weight: 500;
  font-size: 1.25em;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid #dfe1e6;
  flex-direction: column;
}

.item-1-list {
  font-size: 0.8em;
}

.skill-item > .item-1-list {
  display: none;
}

.skill-item .item-1-list {
  display: none;
}

.skill-item.active > .item-1-list {
  display: block;
}

.item-1-header {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;
}

.item-1-header:hover {
  cursor: pointer;
  color: #6070ff;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

.item-1-list img {
  width: 1.6rem;
}

.skill-item.active .skill-item-fly-in {
  animation: fly-in 0.5s ease forwards;
}

.skill-item.active .skill-item-fly-in:nth-child(1) {
  animation-delay: 0s;
}

.skill-item.active .skill-item-fly-in:nth-child(2) {
  animation-delay: 0.5s;
}

.skill-item.active .skill-item-fly-in:nth-child(3) {
  animation-delay: 1s;
}

.skill-item.active .skill-item-fly-in:nth-child(4) {
  animation-delay: 1.5s;
}

.skill-item.active .skill-item-fly-in:nth-child(5) {
  animation-delay: 2s;
}

.skill-item.active .skill-item-fly-in:nth-child(6) {
  animation-delay: 2.5s;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-form {
  background: white;
}

.contact-wrapper > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-wrapper {
  background-color: #2b40fa;
  border-top-left-radius: 50px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-image: url('/images/contact/m_bg.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
}

.contact-title {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2em;
  filter: drop-shadow(1px 1px 1px black);
}

.contact-description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #d7d5d5;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}

#text,
#email,
#comment {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 16px;
  line-height: 1.25em;
  font-weight: 400;
}

#comment {
  height: 150px;
  padding: 10px 16px;
  font-family: 'Poppins', sans-serif;
}

.pop-up {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  color: white;
  padding: 2.25em 1.5em;
  backdrop-filter: blur(5px);
  height: 100vh;
}

.menu-item {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2em;
  cursor: pointer;
  transition: all 0.4s ease;
}

.menu-item:hover {
  text-decoration: underline;
  transition: all 0.4s ease;
  transform: translateX(10px);
  color: lightgray;
  letter-spacing: 2px;
  font-weight: 600;
}

.close {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.75em;
  cursor: pointer;
  margin-bottom: 1rem;
}

.project-close {
  font-size: 22px;
  color: #868990;
  float: right;
  cursor: pointer;
  z-index: 10;
  position: relative;
  transition: all 0.4s ease;
}

.close:hover,
.project-close:hover {
  color: #25378e;
}

.hidden {
  display: none !important;
}

.project-popup-hidden {
  display: none !important;
}

.project-background {
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.project-popup {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid #dfe1e6;
  border-radius: 1em;
  position: fixed;
  top: 1em;
  bottom: 1em;
  width: 85vw;
  margin: 0 auto;
  padding: 1em;
  z-index: 10000;
  right: 1rem;
  left: 1rem;
  transition: all 0.4s ease;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.project-header {
  color: #172b4d;
  line-height: 1.75em;
  font-weight: 700;
}

.project-header > h2 {
  font-size: 1.8rem;
  width: fit-content;
  filter: drop-shadow(3px 3px 1px lightgrey);
}

.project-header > p {
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.9rem 0;
  filter: drop-shadow(2px 2px 1px lightgrey);
}

.project-img {
  min-height: 215px;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  transition: all 0.4s ease-in-out;
}

.project-img:hover {
  border-radius: 5px;
  cursor: text;
  transform: scale(1.01);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 4px rgb(159 158 158 / 15%);
}

.project-desc {
  margin-bottom: 10px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  filter: drop-shadow(3px 3px 1px lightgrey);
}

.project-footer,
.project-footer > div {
  display: flex;
  flex-direction: column;
}

.project-footer ul {
  align-self: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  width: inherit;
}

.project-links {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.project-links button {
  border: none;
  display: flex;
  background: transparent;
}

.project-links a i {
  margin-left: 10px;
}

.about > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
}

.success {
  font-size: 1rem;
  color: #23ff23;
  font-family: monospace;
  filter: drop-shadow(0 1px 2px black);
  font-weight: bolder;
}

.error {
  font-size: 1em;
  color: #ab1e1e;
  font-family: monospace;
  font-weight: bolder;
  filter: drop-shadow(0 1px 2px black);
}

form > * {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-style: italic;
}

@media screen and (max-width: 350px) {
  .project-links {
    justify-content: center;
  }

  .project-links a {
    font-size: 11px;
    padding: 0.5rem;
  }

  .desc h3 {
    font-size: 1.3rem;
  }

  .desc h4 {
    font-size: 0.55rem;
  }

  .desc p {
    font-size: 0.8rem;
  }

  .desc li,
  .project-footer li {
    font-size: 0.6rem;
  }

  .button {
    font-size: 0.9rem;
  }

  .project-header > h2 {
    font-size: 1.6rem;
  }

  .project-desc {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 350px) and (max-width: 390px) {
  .project-links {
    justify-content: center;
  }

  .project-links a {
    font-size: 11px;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .bar-menu {
    display: none;
  }

  .hidden {
    display: flex !important;
  }

  .top-bar {
    padding: 0.65rem 6rem;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 50px;
    z-index: 1000;
  }

  .menu li {
    transition: all 0.2s ease-in;
  }

  .item-1-list {
    font-size: 0.75em;
  }

  .item-1-list li {
    flex-direction: column;
    width: 100px;
    padding: 1rem;
    gap: 0.5rem;
  }

  .menu a:hover,
  .logo:hover {
    color: #2230d2;
    transition: all 0.4s ease;
    transform: scaleX(1.1);
  }

  .headline {
    background-image: url('./images/headline/d_headline.svg');
    background-size: 80%;
    background-position: top center;
    border-bottom-left-radius: 100px;
  }

  .headline > div {
    width: 80vw;
    margin: 40px auto;
  }

  .headline-text {
    font-size: 2rem;
  }

  .desc p {
    padding-bottom: 20px;
  }

  .card {
    border-radius: 24px;
    border: 1px solid #dfe1e6;
  }

  .inner-card {
    padding: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .card:nth-child(even) .inner-card {
    flex-direction: row-reverse;
  }

  .desc {
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding-right: 20px;
    justify-content: center;
    margin-left: 2em;
  }

  .reverse .desc {
    padding-left: 20px;
  }

  .highlight {
    border: 2px solid #a7aeff;
    box-shadow: 1px 20px 20px lightgrey;
  }

  .desc h4 {
    font-size: 0.65rem;
  }

  .desc span {
    color: #6b778c;
    font-weight: 400;
  }

  .about > div {
    flex-direction: row;
  }

  .contact-wrapper {
    background-image: url('./images/contact/d_bg.svg');
    background-position: center;
    border-top-left-radius: 100px;
  }

  form {
    width: 35vw;
    margin: 0 auto;
  }

  #form input {
    height: 40px;
    outline: none;
  }

  #comment {
    height: 180px;
    outline: none;
  }

  #form input:focus,
  #comment:focus {
    outline: 1px solid #192bd1;
    background: #e5e5e5;
    box-shadow: 0 8px 8px -5px #0000008f;
    border-radius: 2px;
  }

  .contact-wrapper > div {
    width: 50vw;
    margin: 20px auto;
  }

  .skill-item {
    padding: 24px 0;
  }

  .item-1-list ul {
    display: flex;
    gap: 0 0.6rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-title {
    font-weight: 700;
    line-height: 2em;
    color: #091e42;
    padding: 0 0 12px 0;
  }

  .button {
    transition: all 0.2s ease-in;
  }

  .pop-up {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: white;
    position: relative;
    width: initial;
    height: initial;
    gap: 2em;
  }

  .menu-item {
    display: flex;
    color: #344563;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2em;
    text-align: center;
  }

  .project-popup {
    width: 65vw;
    padding: 0.5em 1em;
  }

  .about-content {
    width: 30vw;
    padding: 24px 0;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .headline-text,
  .contact-title {
    font-size: 2.25rem;
    letter-spacing: 0.37px;
  }

  .supporting-text {
    line-height: 1.5em;
  }

  .headline > div {
    width: 72vw;
    margin: 70px auto;
  }

  .button {
    margin: 24px 0 12px 0;
  }

  .desc h4 {
    font-size: 0.9rem;
    padding: 0.7rem 0 1.2rem 0;
  }

  .desc h3 {
    font-size: 1.8rem;
  }

  .project-popup {
    width: 66vw;
  }

  .project-img {
    margin-bottom: 2rem;
    background-size: contain;
  }

  .project-desc {
    margin-right: 20px;
    width: 50vw;
  }

  .project-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-footer > div {
    width: 27vw;
  }

  .project-links a {
    width: 148px;
  }
}

@media screen and (min-width: 1055px) {
  .card-img,
  .inner-card img {
    height: 300px;
  }

  .headline > div {
    margin: 88px auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .about-content {
    width: 30vw;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1440px) {
  .project-img {
    background-size: contain;
  }

  .about > div {
    width: 83vw;
  }

  .about-content {
    width: 35vw;
  }

  .skills {
    width: 45vw;
  }

  .project-btn {
    margin-top: 45px;
  }
}
